.login_form .row {
  height: 100vh;
}

.login_form .login_left_image div {
  background-image: url(https://images.unsplash.com/photo-1671725501835-afb7bd1f21ed?ixlib=rb-4.0.3&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=388&q=80);
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.login_form .login_right_col {
  display: flex;
  align-items: center;
}

.user_search_input{
  display: flex;
  align-items: center;
}

.user_search_input input {
  background: unset;
  border: none;
  padding: 8px;
  border-radius: 25px;
  padding-left: 55px;
}

.user_search_input span {
  position: absolute;
  left: 50px;
}
@media only screen and (max-width:375px){
  .user_search_input{
    display: block;
  }
  .user_search_input .filter_div{
    margin-top: 25px;
  }
}
.user_listing_row_header div h5{
  text-transform: uppercase;
  margin: 0;
}
.user_listing_row_header div h5 i{
  font-size: 15px;
}
@media only screen and (max-width:768px){
  .user_listing_row_header div h5{
    text-align: center;
  }
  .text_center_onsmallscreen h5{
    text-align: center;
  }
}
.text_center_onsmallscreen{
  cursor: pointer;
}